* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #121212;
    padding: 20px 0;
}

li {
    color: #ef7600;
    font-size: 28px;
}

div {
    text-align: center;
    padding: 120px 0;
    background-color: #aaa;
}

h1, p {
    color: #003bb5;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 20px;
}